{% load staticfiles %}
<!doctype html>
<html lang="ru">
  <head>
    <title>{% block title %}Сборник задач{% endblock %}</title>
    <meta charset="utf-8" />
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Sripts -->
    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Styles -->
    <link rel="stylesheet/less" type="text/css" href="{% static 'css/base.less' %}" media="screen" />
    {% block styles %}
    {% endblock %}
    <script src="{% static 'js/less.min.js' %}"></script>
    <!-- Scripts -->
    {% block scripts %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
