{% extends "base.html" %}
{% load webdesign %}
{% load staticfiles %}

{% block title %}
	{{ prb.name }}
{% endblock %}

{% block styles %}
	<link rel="stylesheet/less" type="text/css" href="{% static 'css/forms.less' %}" />
	<style>
		.image {
			margin: 0 auto;
			text-align: center;
		}

		.image img {
			margin: 0 auto;
		}

		body {
			margin-bottom: 30px;
		}

		li {
			margin-bottom: 3px;
		}
	</style>
{% endblock %}

{% block scripts %}
	<script src="{% static 'js/edit.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<a href="/">&larr;На главную</a>
		<br />
		<br />
		<p class="lead">{{ prb.name }}</p>
		{% autoescape off %}
			<p>{{ prb.description }}</p>
		{% endautoescape %}
	</div>
	<div class="row">
		<div class="tabbable">
			<ul class="nav nav-tabs">
				<li class="pull-right"><a href="#tab1" data-toggle="tab">Редактирование</a></li>
				<li class="active pull-right"><a href="#tab2" data-toggle="tab">Просмотр</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab2">
					<div class="span5">
						<p class="lead">Исходные данные к задаче:</p>
						<ul class="unstyled">
							{% autoescape off %}
								{% for param in in_params %}
									<li>
										{% for key, value in param.items %}
											<li>
												{{ key }}:
												<ul>
													{% for name, zn, name, noedit, unit in value %}
													<li>{{ name }}:&nbsp;&nbsp;{{ zn|floatformat:"-2" }} {{ unit }}</li>
													{% endfor %}
												</ul>
											</li>
										{% endfor %}
									</li>
								{% endfor %}
							{% endautoescape %}
						</ul>
					</div>
					<div class="span7">
						<figure class="image">
							<p>
								<img src="/engine/preview/{{ prb.short_name}}/img/1/" />
							</p>
							<figurecaption>
								Рисунок к заданию
							</figurecaption>
						</figure>
					</div>
					<div class="span12">
						<hr />
					</div>
					<div class="span5">
						<p class="lead">Расчитанные данные задачи:</p>
						<ul class="unstyled">
							{% autoescape off %}
								{% for param in out_params %}
									<li>
										{% for key, value in param.items %}
											<li>
												{{ key }}:
												<ul>
													{% for name, zn, unit in value %}
													<li>{{ name }}:&nbsp;&nbsp;{{ zn|floatformat:"-2" }} {{ unit }}</li>
													{% endfor %}
												</ul>
											</li>
										{% endfor %}
									</li>
								{% endfor %}
							{% endautoescape %}
						</ul>
					</div>
					<div class="span7">
						<figure class="image">
							<p>
								<img src="/engine/preview/{{ prb.short_name}}/img/{{ prb.stage_count }}/" />
							</p>
							<figurecaption>
								Рисунок для сверки
							</figurecaption>
						</figure>
					</div>
				</div>
				<div class="tab-pane" id="tab1">
					<div class="span5">
			    		<p class="lead">Форма исходных данных:</p>
				    	<form id="edit_form" class="form form-horizontal" method="post" engine="{{ prb.short_name }}" stages="{{ prb.stage_count }}">
							{% autoescape off %}
								{% for param in in_params %}
									{% for group, params in param.items %}
										<p class="params-group">{{ group }}:</p>
											{% for description, value, name, noedit, unit in params %}
												{% if not noedit %}
													<div class="control-group">
														<label class="control-label" for="input">{{ description }}</label>
														<div class="controls">
															<input class="input-small" type="text" name="{{ name }}" value="{{ value }}" required  pattern="\d+(\,\d+)?"/> {{ unit }}
														</div>
													</div>
												{% endif %}
											{% endfor %}
									{% endfor %}
								{% endfor %}
							{% endautoescape %}
							<button id="preview" type="button" class="btn">Предосмотр</button>
				    	</form>
				    </div>
				    <div class="span7">
						<figure class="image">
							<p>
								<img id="first_image" src="/engine/preview/{{ prb.short_name}}/img/1/" />
							</p>
							<figurecaption>
								Рисунок к заданию
							</figurecaption>
						</figure>
					</div>
					<div class="span12">
						<hr />
					</div>
					<div class="span5">
						<p class="lead">Расчитанные данные задачи:</p>
						<div id="out_params">
							<ul class="unstyled">
								{% autoescape off %}
									{% for param in out_params %}
										<li>
											{% for key, value in param.items %}
												<li>
													{{ key }}:
													<ul>
														{% for name, zn, unit in value %}
														<li>{{ name }}:&nbsp;&nbsp;{{ zn|floatformat:"-2" }} {{ unit }}</li>
														{% endfor %}
													</ul>
												</li>
											{% endfor %}
										</li>
									{% endfor %}
								{% endautoescape %}
							</ul>
						</div>
					</div>
					<div class="span7">
						<figure class="image">
							<p>
								<img id="second_image" src="/engine/preview/{{ prb.short_name}}/img/{{ prb.stage_count }}/" />
							</p>
							<figurecaption>
								Рисунок для сверки
							</figurecaption>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="error-modal" class="modal hide fade" tabindex="-1">
  	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    	<h3>Ошибка в исходных данных</h3>
  	</div>
  	<div class="modal-body">
    	<p id="error-text"></p>
  	</div>
</div>
{% endblock %}