{% extends "base.html" %}
{% load webdesign %}
{% load staticfiles %}

{% block title %}
	{{ group }}
{% endblock %}

{% block styles %}
	<link rel="stylesheet/less" type="text/css" href="{% static 'css/problems_list.less' %}" />
	<link rel="stylesheet/less" type="text/css" href="{% static 'css/problems_styles.less' %}" />
{% endblock %}

{% block scripts %}
	<script type="application/x-javascript">
		window.print();
	</script>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row-fluid">
			{% for problem in  problems_list %}
				<div class="page">
					<p>{{ problem.object.group.name }} - {{ problem.object.user.first_name }} {{ problem.object.user.userprofile.group }} <span class="pull-right">UID: {{ problem.object.id }}</span></p>
					{% autoescape off %}
						<p>{{ problem.engine.name }}</p>
						<p>{{ problem.engine.description }}</p>
					{% endautoescape %}
					<div class="left-side">
						<p class="lead">Исходные данные к задаче:</p>
						<ul class="unstyled params-list">
							{% autoescape off %}
								{% for param in problem.in_params %}
									<li>
										{% for key, value in param.items %}
											<li>
												{{ key }}:
													{% for name, zn in value %}
														<span>{{ name|lower }}={{ zn|floatformat:"-2" }}</span>{% if forloop.last %}.{% else %},&nbsp;{% endif %}
													{% endfor %}
											</li>
										{% endfor %}
									</li>
								{% endfor %}
							{% endautoescape %}
						</ul>
					</div>
					<div class="right-side">
						<figure class="engine-image">
							<p>
								<img src="/problems/problem/{{ problem.object.id }}/img/" />
							</p>
							<figurecaption>
								Рисунок к заданию
							</figurecaption>
						</figure>
					</div>
					<hr style="clear: both; margin-top: 10px;"/>
					<span class="pull-right">UID: {{ problem.object.id }}</span>
					<div class="left-side">
						<p class="lead">Расчитанные данные задачи: </p>
						<ul class="unstyled">
							{% autoescape off %}
								{% for param in problem.out_params %}
									<li>
										{% for key, value in param.items %}
											<li>
												{{ key }}:
												<ul>
													{% for name, zn in value %}
													<li>{{ name }}:&nbsp;&nbsp;{{ zn|floatformat:"-2" }}</li>
													{% endfor %}
												</ul>
											</li>
										{% endfor %}
									</li>
								{% endfor %}
							{% endautoescape %}
						</ul>
					</div>
					<div class="right-side">
						<figure class="engine-image">
							<p>
								<img src="/problems/problem/{{ problem.object.id }}/img/{{ problem.engine.stage_count }}/" />
							</p>
							<figurecaption>
								Рисунок для сверки
							</figurecaption>
						</figure>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}