<script type="application/x-javascript" language="javascript">
  $(function() {
       $("#{{ menu }}").addClass("active");
  });
</script>
<ul class="nav nav-pills nav-stacked">
	<li id="all_students" ><a href={% url "students" %}>Все студенты</a></li>
	<li id="register_student" ><a href={% url "register_student" %}>Зарегистрировать</a></li>
	<li id="all_groups"><a href={% url "students_groups" %}>Все группы</a></li>
	<li id="add_group" ><a href={% url "add_group" %}>Добавить группу</a></li>
	<li id="register_from_html"><a href={% url "register_from_html" %}>Зарегистрировать из HTML-списка</a></a>
	<li id="register_from_csv"><a href={% url "register_from_csv" %}>Зарегистрировать из CSV-списка</a></a>
</ul>